## Build outputs
DSBalanceViewer/bin/
DSBalanceViewer/obj/
DSBalanceViewer/publish/
DSBalanceViewer/publish-self/

## IDE
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

## Windows
Thumbs.db
Desktop.ini

## .NET
*.nupkg
*.snk
